<div class="page-layout">
  <div class="left-side-wrapper">
    <!--PERSONAL INFO-->
    <div class="personal-info d-flex align-items-center flex-column">
      <div class="profile-img">
        <img src="/assets/images/profile.png" alt="asif shakir" />
      </div>
      <p class="pb-2 mt-3">Muhammad Asif Shakir</p>
      <span>Full Stack Developer</span>
      <div class="social-icons d-flex gap-2 mt-2">
        <a href="#" title="Github"><div class="icon"><img src="/assets/images/icons/git.png" /></div></a>
        <a href="#" title="Stackoverflow"><div class="icon"><img src="/assets/images/icons/stackoverflow.png" /></div></a>
        <a href="#" title="Linkedin"><div class="icon"><img src="/assets/images/icons/linkedin.png" /></div></a>
      </div>
    </div>
    <hr class="my-4" />
    <!--OHER INFO-->
    <div class="other-info d-flex flex-column gap-2">
      <div class="d-flex justify-content-between align-items-center">
        <label class="primary-bg px-2 py-1">Age:</label>
        <label>29</label>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <label class="primary-bg px-2 py-1">Residence:</label>
        <label>PK</label>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <label class="primary-bg px-2 py-1">Freelance:</label>
        <label class="text-success">Available</label>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <label class="primary-bg px-2 py-1">Address:</label>
        <label>Lahore,Pakistan</label>
      </div>
    </div>
    <hr class="my-4" />
    <!--SKILLS AND LANG-->
    <div class="skills-lang">
      <h6 class=" mb-3">Skills</h6>
      <div class="d-flex flex-column gap-2">
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Angular</span>
            <span>90%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="90" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>ReactJs</span>
            <span>80%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="80" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>NodeJs</span>
            <span>80%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="80" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Mongo DB</span>
            <span>70%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="70" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>HTML</span>
            <span>100%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="100" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>CSS</span>
            <span>90%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="90" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Typescipt</span>
            <span>80%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="80" [showValue]="true"></ngb-progressbar></p>
        </div>
      </div>
      <!--Languages-->
      <hr class="my-4" />
      <h6 class="my-3">Languages</h6>
      <div class="d-flex flex-column gap-2">
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>English</span>
            <span>80%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="80" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Urdu</span>
            <span>100%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="100" [showValue]="true"></ngb-progressbar></p>
        </div>
        <div class="skill-rate">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Punjabi</span>
            <span>100%</span>
          </div>
          <p><ngb-progressbar type="warning" textType="dark" [value]="100" [showValue]="true"></ngb-progressbar></p>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <div class="d-flex justify-content-center my-3">
      <button class="d-flex align-items-center justify-content-center gap-2 btn primary-bg gray-clr-800 fw-600 font-size-14 text-uppercase sharp-btn w-100">
        Download cv
        <fa-icon [icon]="faDownload"></fa-icon>
      </button>
    </div>
  </div>
  <!--CONTENTS-->
  <div class="content-wrapper">
    <div class="main-banner px-5">
      <div class="row align-items-center">
        <div class="col-sm-8 d-flex flex-column gap-3">
          <h1>I’m Muhmmad Asif Shakir <br /><span>Full Stack</span> Developer</h1>
          <div class="row">
            <div class="col-8">
              <p>Results driven full stack developer with 3.5 years of experience in building high-performance web applications using Angular and .NET Core. Skilled in creating visually appealing user interfaces and efficient back-end systems</p>
            </div>
          </div>
          <button class="d-flex align-items-center justify-content-center px-4 py-2 align-self-start
                  gap-2 btn primary-bg gray-clr-800 fw-500 font-size-16 text-uppercase">
            hire me
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
        <div class="col-sm-4 d-flex justify-content-end">
          <img src="/assets/images/cover.png" />
        </div>
      </div>
    </div>
    <section class="my-skills mt-5">
      <h2 class="section-heading text-center mb-3">My skills</h2>
      <div class="row justify-content-center mb-4">
        <div class="col-5">
          <p class="section-desc">Results driven full stack developer with 3.5 years of experience in building high-performance web applications using Angular and .NET Core. Skilled in creating visually appealing user interfaces and efficient back-end systems</p>
        </div>
      </div>
      <div class="row justify-content-center gx-0 gx-3">
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/angular.png" />
            <h6 class="mt-3">Angular Framework</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/react.png" />
            <h6 class="mt-3">React Js</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/nodejs.png" />
            <h6 class="mt-3">Node Js</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/db.png" />
            <h6 class="mt-3">Mongo DB</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/express.png" />
            <h6 class="mt-3">Express</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/typescript.png" />
            <h6 class="mt-3">Typescript</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/html.png" />
            <h6 class="mt-3">HTML</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/css.png" />
            <h6 class="mt-3">CSS</h6>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xl-3 mb-3">
          <div class="skill d-flex flex-column align-items-center">
            <img src="/assets/images/icons/bootstrap.png" />
            <h6 class="mt-3">Bootstrap</h6>
          </div>
        </div>

      </div>
    </section>
  </div>
  <!--RIGHT NAV-->
  <div class="right-side-wrapper">
    <div class="main-navigation d-flex flex-column gap-4 align-items-center justify-content-center h-100">
      <a href="#" title="Home" class="nav_item">
        <img src="/assets/images/icons/home.png" />
      </a>
      <a href="#" title="Skills" class="nav_item">
        <img src="/assets/images/icons/services.png" />
      </a>
      <a href="#" title="Education" class="nav_item active">
        <img src="/assets/images/icons/cv.png" />
      </a>
      <a href="#" title="Portfolio" class="nav_item">
        <img src="/assets/images/icons/briefcase.png" />
      </a>
      <a href="#" title="Blog" class="nav_item">
        <img src="/assets/images/icons/blog.png" />
      </a>
      <a href="#" title="Contact" class="nav_item">
        <img src="/assets/images/icons/contact.png" />
      </a>

    </div>
  </div>
</div>
